@theme {
	--animate-shake-bottom: shake-bottom 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	@keyframes shake-bottom {
		0%,
		100% {
			transform: rotate(0deg);
			transform-origin: 50% 100%;
		}
		10% {
			transform: rotate(1deg);
		}
		20%,
		40%,
		60% {
			transform: rotate(-2deg);
		}
		30%,
		50%,
		70% {
			transform: rotate(2deg);
		}
		80% {
			transform: rotate(-1deg);
		}
		90% {
			transform: rotate(1deg);
		}
	}
}
