@plugin "daisyui/theme" {
	name: 'dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(14% 0 0);
	--color-base-200: oklch(20% 0 0);
	--color-base-300: oklch(26% 0 0);
	--color-base-content: oklch(97% 0 0);
	--color-primary: oklch(62% 0.265 303.9);
	--color-primary-content: oklch(97% 0.014 308.299);
	--color-secondary: oklch(72% 0.219 149.579);
	--color-secondary-content: oklch(98% 0.018 155.826);
	--color-accent: oklch(65% 0.241 354.308);
	--color-accent-content: oklch(97% 0.014 343.198);
	--color-neutral: oklch(26% 0 0);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(60% 0.126 221.723);
	--color-info-content: oklch(98% 0.019 200.873);
	--color-success: oklch(64% 0.2 131.684);
	--color-success-content: oklch(98% 0.031 120.757);
	--color-warning: oklch(64% 0.222 41.116);
	--color-warning-content: oklch(98% 0.016 73.684);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 0;
	--noise: 0;
}
