@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(98% 0.001 106.423);
	--color-base-200: oklch(97% 0.001 106.424);
	--color-base-300: oklch(92% 0.003 48.717);
	--color-base-content: oklch(21% 0.006 56.043);
	--color-primary: oklch(77% 0.152 181.912);
	--color-primary-content: oklch(27% 0.046 192.524);
	--color-secondary: oklch(70% 0.165 254.624);
	--color-secondary-content: oklch(28% 0.091 267.935);
	--color-accent: oklch(70% 0.015 286.067);
	--color-accent-content: oklch(14% 0.005 285.823);
	--color-neutral: oklch(26% 0.007 34.298);
	--color-neutral-content: oklch(98% 0.001 106.423);
	--color-info: oklch(68% 0.169 237.323);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(70% 0.14 182.503);
	--color-success-content: oklch(98% 0.014 180.72);
	--color-warning: oklch(79% 0.184 86.047);
	--color-warning-content: oklch(98% 0.026 102.212);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 0.25rem;
	--radius-field: 1rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
