/* BLUR */
.blur-enter-active,
.blur-leave-active {
	transition: all 0.4s;
}
.blur-enter-from,
.blur-leave-to {
	opacity: 0;
	filter: blur(0.05rem);
}

/* SLIDE TO UP */
.slide-up-enter-active,
.slide-up-leave-active {
	transition: all 0.25s ease-out;
}

.slide-up-enter-from {
	opacity: 0;
	transform: translateY(-10px);
}

.slide-up-leave-to {
	opacity: 0;
	transform: translateY(-10px);
}

/* SLIDE TO DOWN */
.slide-down-enter-active,
.slide-down-leave-active {
	transition: all 0.25s ease-out;
}

.slide-down-enter-from {
	opacity: 0;
	transform: translateY(10px);
}

.slide-down-leave-to {
	opacity: 0;
	transform: translateY(10px);
}
