@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
	themes: light --default, dark --prefersdark;
	root: ':root';
	logs: false;
}

@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(98% 0.001 106.423);
	--color-base-200: oklch(97% 0.001 106.424);
	--color-base-300: oklch(92% 0.003 48.717);
	--color-base-content: oklch(21% 0.006 56.043);
	--color-primary: oklch(77% 0.152 181.912);
	--color-primary-content: oklch(27% 0.046 192.524);
	--color-secondary: oklch(70% 0.165 254.624);
	--color-secondary-content: oklch(28% 0.091 267.935);
	--color-accent: oklch(70% 0.015 286.067);
	--color-accent-content: oklch(14% 0.005 285.823);
	--color-neutral: oklch(26% 0.007 34.298);
	--color-neutral-content: oklch(98% 0.001 106.423);
	--color-info: oklch(68% 0.169 237.323);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(70% 0.14 182.503);
	--color-success-content: oklch(98% 0.014 180.72);
	--color-warning: oklch(79% 0.184 86.047);
	--color-warning-content: oklch(98% 0.026 102.212);
	--color-error: oklch(65% 0.241 354.308);
	--color-error-content: oklch(97% 0.014 343.198);
	--radius-selector: 0.25rem;
	--radius-field: 1rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(14% 0 0);
	--color-base-200: oklch(20% 0 0);
	--color-base-300: oklch(26% 0 0);
	--color-base-content: oklch(97% 0 0);
	--color-primary: oklch(62% 0.265 303.9);
	--color-primary-content: oklch(97% 0.014 308.299);
	--color-secondary: oklch(72% 0.219 149.579);
	--color-secondary-content: oklch(98% 0.018 155.826);
	--color-accent: oklch(65% 0.241 354.308);
	--color-accent-content: oklch(97% 0.014 343.198);
	--color-neutral: oklch(26% 0 0);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(60% 0.126 221.723);
	--color-info-content: oklch(98% 0.019 200.873);
	--color-success: oklch(64% 0.2 131.684);
	--color-success-content: oklch(98% 0.031 120.757);
	--color-warning: oklch(64% 0.222 41.116);
	--color-warning-content: oklch(98% 0.016 73.684);
	--color-error: oklch(57% 0.245 27.325);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 0;
	--noise: 0;
}

@theme {
	--font-sans: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.qwe {
	border: 1px solid salmon;
}
.qwe2 > * {
	border: 1px solid salmon;
}
.qwe3 * {
	border: 1px solid salmon;
}

html {
	::selection {
		background: var(--color-primary);
		color: var(--color-primary-content);
	}
}

@layer base {
	html,
	body {
		overflow-x: hidden;
	}
}
